job:
  image: "us-central1-docker.pkg.dev/bobzetian-gke-dev/bobinference/inference-perf:latest"
  memory: "50G"

logLevel: DEBUG

hfToken: ""

config:
  load:
    type: constant
    stages:
    - rate: 10000
      duration: 60
    num_workers: 5
    worker_max_concurrency: 9

        
  api:
    type: completion
    streaming: true

  server:
    type: vllm
    model_name: Qwen/Qwen3-32B
    base_url: http://35.212.253.235:80
    ignore_eos: true

  tokenizer:
    pretrained_model_name_or_path: Qwen/Qwen3-32B

  data:
    type: shared_prefix
    shared_prefix:
      num_groups: 45
      num_prompts_per_group: 10
      system_prompt_len: 30000
      question_len: 256
      output_len: 1024
  
  metrics:
    type: prometheus
    prometheus:
      google_managed: true
      scrape_interval: 15

  report:
    request_lifecycle:
      summary: true
      per_stage: true
      per_request: false
    prometheus:
      summary: true
      per_stage: true

  storage:
    google_cloud_storage:
      bucket_name: "bobgkeinference" # IMPORTANT: Update with your GCS bucket name
      path: "lmcache-highcache-v037-1111-PHS0-01" # Optional: a path prefix within the bucket 