job:
  image: "us-central1-docker.pkg.dev/bobzetian-gke-dev/bobinference/inference-perf:latest"
  memory: "50G"

logLevel: DEBUG

hfToken: ""

config:
  load:
    type: constant
    interval: 1.0
    stages: []
    sweep:
      type: linear
      timeout: 120
      num_stages: 10              # Number of stages to generate
      stage_duration: 60          # Duration of each generated stage
      saturation_percentile: 95   # Percentile of sampled rates to select as saturation point
    num_workers: 24
    worker_max_concurrency: 1000
    worker_max_tcp_connections: 2500     
      
  api:
    type: completion
    streaming: true

  server:
    type: vllm
    model_name: Qwen/Qwen3-32B
    base_url: http://35.212.253.235:80
    ignore_eos: true

  tokenizer:
    pretrained_model_name_or_path: Qwen/Qwen3-32B

  data:
    type: shared_prefix
    shared_prefix:
      num_groups: 150
      num_prompts_per_group: 5
      system_prompt_len: 6000
      question_len: 1200
      output_len: 1000
  
  metrics:
    type: prometheus
    prometheus:
      google_managed: true
      scrape_interval: 15

  report:
    request_lifecycle:
      summary: true
      per_stage: true
      per_request: false
    prometheus:
      summary: true
      per_stage: true

  storage:
    google_cloud_storage:
      bucket_name: "bobgkeinference" # IMPORTANT: Update with your GCS bucket name
      path: "lmcache-saturation-detection-01" # Optional: a path prefix within the bucket 