# inference-perf/values.yaml
job:
  image:
    repository: quay.io/inference-perf/inference-perf
    tag: "" # Defaults to .Chart.AppVersion
  nodeSelector: {}
  serviceAccountName: ""
  # Example resources:
  # resources:
  #   requests:
  #     cpu: "1"
  #     memory: "4Gi"
  #   limits:
  #     cpu: "2"
  #     memory: "8Gi"
  resources: {}

logLevel: INFO

# A GCS bucket path that points to the dataset file.
# The file will be copied from this path to the local file system
# at /dataset/gcs-dataset.json for use during the run.
# NOTE: For this dataset to be used, config.data.path must also be explicitly set to /dataset/gcs-dataset.json.
# Format: bucket-name/folder/to/dataset/file
gcsPath: ""

# An S3 bucket path that points to the dataset file.
# The file will be copied from this path to the local file system
# at /dataset/s3-dataset.json for use during the run.
# NOTE: For this dataset to be used, config.data.path must also be explicitly set to /dataset/s3-dataset.json.
# Format: bucket-name/folder/to/dataset/file
s3Path: ""

# Optional Token configuration for Hugging Face authentication.
# hfSecret: Configures a pre-existing Kubernetes Secret.
# hfToken: Creates a new kubernetes secret with the specified token.
# If both specified, 'hfSecret' takes precedence over 'hfToken'.
token:
  hfSecret:
    name: "" # The name of the existing Secret (e.g., 'my-hf-secret').
    key: ""  # The key within the Secret that holds the token value (e.g., 'token' or 'hf-token').
  hfToken: ""

config:
  load:
    type: constant
    stages:
    - rate: 1
      duration: 30
  api:
    type: completion
  server:
    type: vllm
    base_url: http://0.0.0.0:8000
    ignore_eos: true
  data:
    type: shareGPT
  metrics:
    type: prometheus
    prometheus:
      url: http://localhost:9090
      scrape_interval: 15
  report:
    request_lifecycle:
      summary: true
      per_stage: true
      per_request: false
    prometheus:
      summary: true
      per_stage: false
