job:
  image:
    repository: quay.io/inference-perf/inference-perf
    tag: "main" # Defaults to .Chart.AppVersion

logLevel: DEBUG

hfToken: "hf_bicudPCAFSKbmVHyDVbEhvoaFugbhZZFy"

config:
  load:
    type: concurrent
    stages:
    - num_requests: 90
      concurrency_level: 45               
        
  api:
    type: completion
    streaming: false

  server:
    type: vllm
    model_name: Qwen/Qwen3-32B
    base_url: http://35.208.179.86
    ignore_eos: true

  tokenizer:
    pretrained_model_name_or_path: Qwen/Qwen3-32B

  data:
    type: shared_prefix
    shared_prefix:
      num_groups: 45
      num_prompts_per_group: 2
      system_prompt_len: 30000 # change this to 30000 for high cache case
      question_len: 256
      output_len: 1024
  
  metrics:
    type: prometheus
    prometheus:
      google_managed: false
      scrape_interval: 15

  report:
    request_lifecycle:
      summary: true
      per_stage: true
      per_request: false
    prometheus:
      summary: true
      per_stage: true

  storage:
    google_cloud_storage:
      bucket_name: "bobgkeinference" # IMPORTANT: Update with your GCS bucket name
      path: "quicktest2" # Optional: a path prefix within the bucket 