name: E2E Test on change

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main
      - 'feature/**'

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          nix develop -c pdm sync -d

      - name: Run end-to-end tests
        run: |
          nix develop -c pdm run test:e2e -o log_cli_level=DEBUG |& tee test_e2e.out

      - name: Upload test_e2e.out
        uses: actions/upload-artifact@v4
        with:
          name: test_e2e
          path: test_e2e.out
