name: Python Linting and Type Checks

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:

jobs:
  black-format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Do Linting and Type Checks
        run: |
          make check
